
{% load static %}
<!-- Sidebar -->
<!-- Agregar Bootstrap Icons -->

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
    <div class="sidebar-brand-icon rotate-n-15">
        <img style="width: 40px; height: auto;"  src="{% static 'img/logo.png' %}" alt="Logo" />
    </div>
    <div class="sidebar-brand-text mx-3">Crypto</div>
</a>


            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tracker</span></a>
            </li>


            {% if user.is_superuser %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Administrador
            </div>

            <!-- Nav Item - Pages Collapse Menu -->



           

                            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_list' %}">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Usuarios</span></a>
            </li>



            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'favorites_list' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Favoritos</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portafolio_view' %}">
                    <i class="bi bi-wallet2"></i>
                    <span>Portafolio</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->